
/**
 * This file provides the most basic styles.
 *
 * If you integrate DokuWiki into another project, you might either
 * want to integrate this file into the other project as well, or use
 * the other project's basic CSS for DokuWiki instead of this one.
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Klaus Vormweg <klaus.vormweg@gmx.de>
 * 
 * Modified by L. Heyman 10/14/22
 */

 html {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: auto;
  font: normal 87.5%/1.35 Frutiger, Calibri, "Myriad Pro", Myriad, "Nimbus Sans L", Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* default font size: 100% => 16px; 93.75% => 15px; 87.5% => 14px; 81.25% => 13px; 75% => 12px */
  background-color: __background_alt__;
}
body {
  margin: 0 auto;
  font: normal 100%/1.4 sans-serif;
  color: __text__;
  background-color:#f4efe1;
}


/* headlines */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif, tebuchet; 
  background-color: inherit;
  padding: 0;
  clear: left; /* ideally 'both', but problems with toc */
}


div#content .dokuwiki h1,
div#content .dokuwiki h2,
div#content .dokuwiki h3,
div#content .dokuwiki h4,
div#content .dokuwiki h5,
div#content .dokuwiki h6,
{
  border-bottom: 2px solid __text__;
  color: __text__;
  margin: 0;
  padding-bottom: 0.2em;
  padding-top: 0.5em;
  margin-bottom: .3em;
}

div#content .dokuwiki h1 a,
div#content .dokuwiki h2 a,
div#content .dokuwiki h3 a,
div#content .dokuwiki h4 a,
div#content .dokuwiki h5 a,
div#content .dokuwiki h6 a {
  color: __text__;
}
div#content .dokuwiki h1 a:hover,
div#content .dokuwiki h2 a:hover,
div#content .dokuwiki h3 a:hover,
div#content .dokuwiki h4 a:hover,
div#content .dokuwiki h5 a:hover,
div#content .dokuwiki h6 a:hover {
  text-decoration: none;
}
div#content .dokuwiki h1, h1 {
  font-size: 150%;
}

div#coontent .dokuwiki h2, h2 {
font-size:135%;}

div#content .dokuwiki h1,
div#content .dokuwiki h2,
h1, h2 {
  border-bottom: 2px solid __text__;
  color: __text__;
  margin: 0;
  padding-bottom: 0em;
  padding-top: 0.5em;
  margin-bottom: .3em;
}
div#content .dokuwiki h3,
div#content .dokuwiki h4,
div#content .dokuwiki h5,
div#content .dokuwiki h6, h3, h4, h5 {
  font-weight: bold;
  border-bottom: none;
  margin-bottom: 0.3em;
}
div#content .dokuwiki h3, h3 {
  font-size: 125%;
}
div#content .dokuwiki h4, h4 {
  font-size: 110%;
}
div#content .dokuwiki h5, h5 {
  font-size: 100%;
}
div#content .dokuwiki h6, h6 {
  font-size: 80%;
}

/* remove indent from different sections */
div#content .dokuwiki div.level1,
div#content .dokuwiki div.level2,
div#content .dokuwiki div.level3,
div#content .dokuwiki div.level4,
div#content .dokuwiki div.level5 {
  margin-left: 0;
}


/* basic margins and paddings */
p,
ul,
ol,
dl,
pre,
table,
blockquote,
fieldset,
address {
  margin: 0 0 .5em 0; /* bottom margin = line-height */
  padding: 0;
}
div {
  margin: 0;
  padding: 0;
}

/* lists */
ul,
ol {
  padding: 0 0 .5em 0em;
}

li,
dd {
  padding: 0;
  margin: 0 0 .5em 1.5em;
}

dt {
  font-weight: bold;
  margin: 0;
  padding: 0;
}
li ul,
li ol,
li dl,
dl ul,
dl ol,
dl dl {
  margin-bottom: .5em;
  padding: 0;
}
li li {
  font-size: 100%;
}
ul             { list-style: square outside; }
ol             { list-style: decimal outside; }
ol ol          { list-style-type: lower-alpha; }
ol ol ol       { list-style-type: upper-roman; }
ol ol ol ol    { list-style-type: upper-alpha; }
ol ol ol ol ol { list-style-type: lower-roman; }

/* tables */
table {
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0;
  border: 1px solid __border__;
  background-color:white;
}
caption {
  caption-side: top;
  text-align: left;
  margin: 0 0 .3em;
}
th,
td {
  padding: .3em .5em;
  margin: 0;
  vertical-align: top;
  border: 1px solid __border__;
  text-align: left;
}
th {
  font-weight: bold;
  background-color: __background_alt__;
}


/* links */
div.dokuwiki a:link,
div.dokuwiki a:visited {
  color: #436976;
  text-decoration: none;
}
div.dokuwiki a:hover,
div.dokuwiki a:active {
  color: __text__;
  text-decoration: underline;
}

/* missing page links outside rendered articles */
a.wikilink2,
a.wikilink2:link,
a.wikilink2:visited,
a.wikilink2:hover {
  color: __missing__ !important;
  text-decoration: none;
}
a.wikilink2:hover {
  border-bottom: 0 none !important;
  text-decoration: none !important;
}

/* link to current page */
.dokuwiki span.curid a {
  font-weight: normal;
}

/* internal link */
.dokuwiki a.wikilink1,
.dokuwiki a.wikilink1:visited {
  color: __existing__ !important;
}

/* external links */
div#bodyContent a.urlextern {
  background: url(static/3rd/vector/external-link-ltr-icon.png) center right no-repeat;
  padding: 0 13px 0 0;
}
div.dokuwiki a.urlextern:visited {
  color: purple;
}

/* email link */
div#bodyContent a.mail {
  background: transparent url(static/3rd/vector/mail-icon.png) center right no-repeat;
  padding: 0 13px 0 0;
}

/* windows share */
div.dokuwiki a.windows {
  background: transparent url(static/3rd/dokuwiki/unc.png) center right no-repeat;
  padding: 0 18px 1px 0;
}

/* interwiki link */
div.dokuwiki a.interwiki {
  background-position: center left;
  padding: 0 17px 0 px;
}
div.dokuwiki a.interwiki:visited {
  color: purple;
}

/*____________ misc ____________*/

img {
  border-width: 0;
  vertical-align: middle;
  background-color: transparent;
  height: auto;
}

img,
object,
embed,
iframe,
video,
audio {
  max-width: 100%;
}

iframe {
  border-width: 0;
  background-color: inherit;
}

/* IE8 and below won't display the images otherwise */
#IE8 img,
button img {
  max-width: none;
}

hr {
  border: 0 none;
  text-align: center;
  width: 100%;
  clear: both;
}

acronym,
abbr {
  font-style: normal;
}
acronym[title],
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
  text-decoration: none;
}
em acronym,
em abbr {
  font-style: italic;
}

mark {
  background: __highlight__;
  color: inherit;
}

pre,
code,
samp,
kbd {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Bitstream Vera Sans Mono", "Nimbus Mono L", Monaco, "Courier New", monospace;
  /* same font stack should be used for ".dokuwiki table.diff td" in _diff.css */
  font-size: 1em;
  color: __text__;
  direction: ltr;
  text-align: left;
}
pre {
  border: 1px solid __border__;
  background-color: #fafafa;
  padding: 0 .2em;
  overflow: auto;
  word-wrap: normal;
}

blockquote {
  padding: 0 .2em;  /* changed fronm "0 1.25em;" by Lenny 10/14/22  */
  border: solid __border__;
  border-width: 0 0 0 2px;
}

[dir=rtl] blockquote {
  border-width: 0 .25em 0 0;
}
q:before,
q:after {
  content: '';
}

sub,
sup {
  font-size: .8em;
  line-height: 1;
}
sub {
  vertical-align: sub;
}
sup {
  vertical-align: super;
}

small {
  font-size: .8em;
}

/*____________ forms ____________*/

form {
  display: inline;
  margin: 0;
  padding: 0;
}

fieldset {
  padding: .7em 1em 0;
  padding: .7rem 1rem; /* for those browsers understanding :last-child */
  border: 1px solid __border__;
}
fieldset > :last-child {
  margin-bottom: 0;
}
legend {
  padding: 0 .1em;
}

label {
  vertical-align: middle;
  cursor: pointer;
}

input,
textarea,
button,
select,
optgroup,
option,
keygen,
output,
meter,
progress {
  font: inherit;
  color: inherit;
  /* background-color destroys button look */
  line-height: normal;
  margin: 0;
  vertical-align: middle;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input,
button,
select,
keygen,
textarea {
  border: 1px solid __border__;
  border-radius: 3px;
}
input[type=radio],
input[type=checkbox],
input[type=image],
input.check {
  padding: 0;
}

input[type=submit],
input[type=button],
input[type=reset],
input.button,
button {
  cursor: pointer;
  overflow: visible;
  padding: .1em .4em;
}

input[disabled],
button[disabled],
select[disabled],
textarea[disabled],
option[disabled],
input[readonly],
button[readonly],
select[readonly],
textarea[readonly] {
  cursor: auto;
  opacity: .5;
}

input:focus,
button:focus,
select:focus,
keygen:focus,
textarea:focus,
input:active,
button:active,
select:active,
keygen:active,
textarea:active {
    border-color: __borderdark__;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button {
    background-color: __background__;
    padding: 0.25em 0.75em;
}
button:hover {
    border-color: __borderdark__;
}
select {
  max-width: 100%;
}
optgroup {
  font-style: italic;
  font-weight: bold;
}
option {
  font-style: normal;
  font-weight: normal;
}
